* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #323639;
    --secondary: #1971c2;/* Yellow:#f5df4e ,  Blue:#1971c2;*/
    --white: #fff;
}

html {
    /* font-size:10px ;
    10px/16px = 0.625 = 62.5%
    percentage of user's browser font-size setting   
    */
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1;
    color: var(--primary);
    /* background-color: #ededed; */
    position: relative;
    /* overflow-x: hidden; */
}

.container {
    width: 114rem;
    margin: 0 auto;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}
.margin-bottom-8 {
    margin-bottom: 0.8rem;
}
.margin-bottom-12 {
    margin-bottom: 1.2rem;
}
.margin-bottom-16 {
    margin-bottom: 1.6rem;
}


.heading-container {
    text-align: center;
}

.primary-heading {
    background-color: var(--secondary);
    color: var(--white);
    font-weight: 400;
    padding: 0.5rem;
    display: inline-block;

}

.secondary-heading {
    color: var(--primary);
    font-size: 3rem;
    font-weight: 600;
}

.grid {
    display: grid;
   column-gap: 6.4rem;
}

.grid--2-cols {
    grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
    grid-template-columns: repeat(3, 1fr);
}
progress{
    /* border-radius: 10px; */
    border-radius: 2px;
    width: 100%;
}